$primary: #6500fe;
$secondary: rgb(94, 192, 83) 0fe;

$text: #efefef;
$dark: #0f0f0f;
$dark-2: #121212;
$light: #ffffff;
$light-2: #f2f2f2;

$grey: #818181;

$radius-xs: 8px;
$radius-sm: 12px;
$radius-md: 16px;
$radius-lg: 20px;
$radius-xl: 24px;

$gap-xs: 8px;
$gap-sm: 12px;
$gap-md: 16px;
$gap-lg: 20px;
$gap-xl: 24px;

$input-h: 48px;
$button-h: 48px;
